@model IEnumerable<Storage.ViewModel.ProductListViewModel>

@{
    ViewData["Title"] = "ProductList";
}

<h1>ProductList</h1>
<div>
    <form asp-action="Search">
        <div class="row">
            <div class="form-group col">
                <label>Search on Product Name</label>
                <input type="text" class="form-control" name="nameQuery" placeholder="Search" />

            </div>
            <div class="form-group col">
                <label for="category" class="control-label">Search on Category</label>
                <select id="category" class="form-control" name="categoryQuery">
                    <option></option>
                    <option>Other</option>
                    <option>Tech</option>
                    <option>Home</option>
                    <option>Hobby</option>>
                    <option>Office</option>
                    <option>Toys</option>
                    <option>Sports Equipment</option>
                </select>
            </div>
        </div>
        <button class="btn btn-outline-secondary my-3" type="submit">Search</button>
    </form>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
